.fundo-roxo {
    background-color: violet;
    color:white;
    margin: 20px;
    padding: 5px;
}

.fundo-ciano{
    background-color: aquamarine;
    color: white;
    margin: 20px;
    padding: 5px;
}

.tabela {
    border: 1px solid white;
}

.fundo-preto {
    background-color: black;
    color: white;
    margin: 20px;
    padding: 5px;
}